html {
  background-color: var(--white);
  /* max-width: 960px; */
}

.chat {
  display: flex;
  flex: 1;
  height: 80vh;
}

.chat-main {
  width: 60%;
  float: right;
}

.chat-side {
  padding: 15px;
  width: 30%;
  overflow-x: hidden;
  float: left;
}

.chat-body {
  height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-footer {
  height: 5%;
  vertical-align: bottom;
}

.selected {
  background-color: var(--orange);
  color: var(--tan);
}

.not-selected {
  background-color: var(--tan);
}

.chat-message-username {
  color: var(--dark-brown);
}

.chat-message-timestamp {
  color: var(--orange);
}

.chat-message-message {
  color: var(--orange);
}

.chat-message-send-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  color: var(--dark-brown);
  border: var(--tan);
  background-color: var(--tan);
  cursor: pointer;
  border-radius: 5px;
}

.chat-message-box {
  width: 60%;
  color: var(--white);
  border: var(--dark-brown);
  border: 2px;
  padding: 10px;
  border-radius: 5px;
}