.profile {
  display: block;

}

.profile-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.profile-logo {
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; */
  width: 40%;
  height: 80px;

}

.profile-picture {
  width: 40%;
}

.profile-pic {
  display: block;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  border: #99592a solid 2px;
  border-radius: 10%;
  width: 90px;
  height: 90px;
}

.profile-text {
  width: 60%;
  position: relative;
  bottom: 20px;
}

.profile-username {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.friends-button {
  border: #c97107 solid 2px;
  border-radius: 10%;
  background-color: transparent;
  color: #99592a;
  font-size: medium;
  text-align: center;
  width: 110%;
  height: 100%;
}

.edit-button {
  border: #c97107 solid 2px;
  border-radius: 10%;
  background-color: transparent;
  color: #99592a;
  font-size: medium;
  text-align: center;
  width: 15%;
  height: 20%;
}

.profile-history {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 90%;
  height: 400px;
  text-align: center;
}

.history-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  border: #99592a solid 3px;
}

.upperRibbon {
  display: flex;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.ribbonButton {
  font-size: x-large;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: #f1e6d0;
  color: #99592a;
  border: 0px transparent;
}