@import url('./css/colors.css');
@import url('./css/friends.css');
@import url('./css/overview.css');
@import url('./css/profile.css');
@import url('./css/chat.css');
@import url('./css/message.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #99592a;
  background-color: var(--white);
  margin: 3%;
}

.reviewsEntry {
  display: inline-block;
  border: 2px solid #542a1b;
  border-radius: 10px;
  min-width: 101%;
  max-width: 101%;
  min-height: 184px;
  margin: 1% 0% 0% 0%;
}

.noReviewsYet {
  left: 107px;
  font-weight: bolder;
  position: relative;
}

.reviewsPic {
  float: left;
  width: 80px;
  height: 80px;
  margin: -10px 0 0 13px;
}

.profile-name {
  margin: 23px 0% 0% 106px;
}

.reviewsDrink {
  float: left;
  margin: 0% 0% 0% 14px;
}

.star1Entry .star2Entry .star3Entry .star4Entry .star5Entry {
  font-size: 20px;
  color: #c97107;
}

.reviewsRatingContainer {
  float: right;
  top: -23px;
  right: 3px;
  position: relative;
}

.reviewsComment {
  position: relative;
  left: 1%;
  margin: 67px 0% 15px 19px;
}

#entryContainer {
  min-height: 55px;
}

#reviewListNext {
  height: 43px;
  width: 43px;
  border-radius: 50px;
  position: relative;
  float: right;
  font-size: 30px;
  background-color:#e6b17e;
  border-color: #99592a;
  color: #99592a;
}

#reviewListBack {
  height: 43px;
  width: 43px;
  border-radius: 50px;
  position: relative;
  float: left;
  font-size: 30px;
  background-color:#e6b17e;
  border-color: #99592a;
  color: #99592a;
}

.arrowButtons {
  position: relative;
  margin: 14px 35% 0 40%;
  min-width: 100px;
  width: 20%;
}

#reviewList {
  margin: 0 4px 0 0;
  left: 0px;
  position: relative;
}

#postReviewDrinkOptions {
  margin: 0 5px 0 5px;
  color: #542a1b;
  border-radius: 5px;
  background-color: #e6b17e;
  border-color: #e6b17e;
}

.postReview {
  border: 1px solid #542a1b;
  border-radius: 10px;
}

.rate {
  margin: 0 0 0 25px;
}

.starRating {
  margin: -8px 0 0 58px;
}

#comments {
  margin: 0 0 15px 52px;
}

#validation {
  margin: 0 0 0 74px;
}

#filterReviews {
  margin: 0 8% 0 259px;
  height: 20px;
  min-width: 75px;
  max-width: 6%;
  position: relative;
  color: #542a1b;
  border: #e6b17e;
  background-color: #e6b17e;
  border-radius: 5px;
}

#reviewForm {
  border: 1px solid #542a1b;
  border-radius: 10px;
  margin: 16px 4% 30px 0;
  float: right;
  position: relative;
  width: 328px;
}

.reactionButtons {
  left: 5px;
  position: relative;
  top: 37px;
}

.likeButton {
  height: 37px;
  width: 48px;
  background-color: #e6b17e;
  border-color: #e6b17e;
  border-radius: 5px;
}

.dislikeButton {
  height: 37px;
  width: 48px;
  background-color: #e6b17e;
  border-color: #e6b17e;
  border-radius: 5px;
}

.likeButtonContainer {
  float: left;
}

.dislikeCount {
  left: 20px;
  position: relative;
  top: -18px;
}

.likeCount {
  left: 19px;
  position: relative;
  top: -18px;
}

@media only screen and (min-width: 500px) {
  :root {
    max-width: 75%;
  }

  .reviewsEntry {
    display: inline-block;
    border: 1px solid black;
    min-width: 85%;
    max-width: 85%;
    min-height: 184px;
    margin: 1% 0% 0% 0%;
  }

  #reviewList {
    left: 7.5%;
    position: relative;
  }

  .reviewsComment {
    position: relative;
    left: 1%;
    margin: 45px 2% 20px 1px;
  }

  .reviewsRatingContainer {
    float: right;
    margin: -90px 1% 0% 0%;
  }

  #filterReviews {
    margin: 136px 8% 0 0;
    float: left;
    left: 85%;
    height: 20px;
    min-width: 102px;
    max-width: 6%;
    position: relative;
  }

    #reviewForm {
    border: 1px solid black;
    margin: 0 39% 30px 0;
    float: right;
    position: relative;
    width: 328px;
  }

}

.button_logout {
  float: right;
  display: inline-block;
  margin-top: 5%;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  color: #542a1b;
  border: #e6b17e;
  background-color: #e6b17e;
  cursor: pointer;
  border-radius: 5px;
}

.button_home {
  position: center;
}

.button_back {
  /* float: left; */
  display: inline-block;
  position: left;
  margin-top: 5%;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  color: #542a1b;
  border: #e6b17e;
  background-color: #e6b17e;
  cursor: pointer;
  border-radius: 5px;
}

.overview_info {
  margin: 2%;
}

.logo {
  width: 90%;
  max-width: 800px;
  margin-top: 5%;
}

.logo_home {
  width: 30%;
  height: 30%;
  position: center;
  max-width: 30%;
  top: 20%;
  transform: translate(-17px, 10px);
}

.logo_home--container {
  /* justify-content: center; */
  position: absolute;
  align-items: center;
  text-align: center;
  display: inline-block;
  max-width: 70%;
  justify-content: stretch;
  align-items: center;
}

.splash-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  display: block;

}

.profile-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.profile-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 40%;
  height: 80px;

}

.profile-picture {
  width: 40%;
}

.profile-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: #99592a solid 2px;
  border-radius: 10%;
  width: 80px;
  height: 80px;
}

.profile-text {
  width: 60%;
  position: relative;
  bottom: 20px;
}

.profile-username {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.friends-button {
  border: #c97107 solid 2px;
  border-radius: 10%;
  background-color: transparent;
  color: #99592a;
  font-size: medium;
  text-align: center;
  width: 110%;
  height: 100%;
}

.edit-button {
  border: #c97107 solid 2px;
  border-radius: 10%;
  background-color: transparent;
  color: #99592a;
  font-size: medium;
  text-align: center;
  width: 15%;
  height: 20%;
}

.profile-history {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 90%;
  height: 400px;
  text-align: center;
}

.history-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  border: #99592a solid 3px;
}
.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.splash-form {
  min-width: 70%;
}

.splash-input-fields {
  width: 90%;
  height: 30px;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.splash-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  color: #542a1b;
  border: #e6b17e;
  background-color: #e6b17e;
  cursor: pointer;
  border-radius: 5px;
}

.google-sign-in-button {
  padding: 0px;
  contain: none;
  /* margin-top: 50px; */
}

.newUser-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.newUser-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 5%;
}

.newUser-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

}

.newUser-input-fields input {
  width: 100%;
  height: 20px;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.createAccount-heading {
  text-align: center;
  margin: 10px 0;
  margin-top: -10px;
}

.newUser-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
}

.newUser-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  color: #542a1b;
  border: #e6b17e;
  background-color: #e6b17e;
  cursor: pointer;
  border-radius: 5px;
}

.profilePicture-container {
  border: 1px solid #ccc;
  /* padding: 10px; */
  border-radius: 5px;
  margin-bottom: 10px;
}

.profilePicture-label {
  margin-right: 10px;
}

.profilePicture-input {
  margin-top: 5px;
}